@import "./normalize.css";

body {
  padding: 8px;
}

.title {
  text-align: center;
}

.board-screen {
  margin: auto;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(8, auto);
  width: 800px;
  height: 600px;
  border: 10px #a52a2a solid;
  user-select: none;
}

.screen-pixel {
  box-sizing: border-box;
}

.board-screen_grid .screen-pixel:not(.screen-pixel_first-column) {
  border-left: 1px #a0a0a0 solid;
}

.board-screen_grid .screen-pixel:not(.screen-pixel_first-row) {
  border-top: 1px #a0a0a0 solid;
}

.controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-size-button {
  display: none;
}

.size-button-label {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.radio-size-button:checked+.size-button-label {
  background-color: #a52a2a;
}

.size-buttons-container {
  background-color: antiquewhite;
}

.size-button-label:hover {
  background-color: blue;
}
